* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: white!important;
}


.settings-site{
  width: 100%;
  height: auto;
    max-width: 2000px;
  margin: 0 auto;
  background: transparent;
  background-size: cover;
  background-position: center;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
}

.tabs-settings{
  display: none;
}

#style{
  display: block;
  width: 100%;
}

#style .settings-site-styles{
  border: 1px solid #06c56f!important;
  
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 98%;
  height: auto;
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  right: 0;
  left: -2;
}

#style .styles-list{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
/*  overflow: hidden;*/
  max-width: 98%;
}

#style .buttons-styles{
  border-radius: 10px;
  height: 100px;
  width: auto;
  background: whitesmoke;
  margin: 10px;
}

#style .buttons-styles:hover{
  border-radius: 20px;
  background: #c3c3c3;
  margin: 5px;
}

#style .buttons-styles h1{
  margin: 4px;
  text-align: center;
  width: auto;
}

#style .palate{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  height: 60px;
  width: auto;
}

#style .color-dot {
  border-radius: 10px;
  font-size: 10px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(0,0,0,1);
  margin: 5px;
}

#unviere-light-green {
  background: #06c46f;
}

#unviere-light-green-dark {
  background: #049c59;
}

#unviere-light-yellow {
  background: #f0b400;
}

#unviere-light-blue {
  background: #0606c4;
}

#unviere-light-white {
  background: white;
}

#unviere-light-black {
  background: black;
}

#unviere-light-gray {
  background: #1B1F3B;
}

#unviere-light-green-hover {
  background: #08f78b;
}



#unviere-dark-green{
  background: #024a2a;
}


#unviere-dark-green-hover{
  background: #026c40;
}

#unviere-dark-yellow {
  background: #f0b400;
}

#unviere-dark-blue{
  background: #03c8ff;
}

#unviere-dark-white{
  background: whitesmoke;
}

#unviere-dark-bleu-light{
  background: lightcyan;
}

#unviere-dark-black{
  background: black;
}

#modern-light-green{
  background: #06c46f;
}

#modern-light-bleu{
  background: #20B2AA;
}

#modern-light-smoke{
  background: whitesmoke;
}

#modern-light-white{
  background: #ffffff;
}

#modern-light-lightgray{
  background: #c3c3c3;
}

#modern-dark-bleu{
  background: #0606c4;
}

#modern-dark-gray{
  background: #1B1F3B;
}

#modern-dark-black{
  background: black;
}

.color-dot::after {
  content: attr(data-tooltip); /* Use data-tooltip attribute to define the text */
  position: absolute;
  z-index: 50098600;
  bottom: 560px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  font-size: 12px;
  pointer-events: none;
}

.color-dot:hover::after {
  opacity: 1;
  visibility: visible;
  z-index: 600000;
}

#container{
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
  padding: 0px;
margin: 0px;
justify-content: none;
}
.header1{
  font-size: 30px;
  color: black;
  margin: 5px;
}


.title{
  padding-left: 20px;
  margin-top: -15px; /* Adjust the value to control how much the title overlaps */
  position: relative;
  z-index: 1;
  background: transparent; /* Ensure background is white so it cuts through the border */
  width: fit-content; /* Adjust as needed */
}

.title h1{
  font-size: 20px;
  color: black;
  margin: 0; /* Remove any default margin */
  padding: 0 10px; /* Adjust padding as needed */
  background: white; /* Ensure the heading's background is also white */
}

.section {
  
  width: 100%;
  position: absolute;
  
  transform: translateY(-10%);
  text-align: center;
  transition: all .5s;
  margin-left: 0px;
}

@media (max-width: 700px) {
  .header1{
  font-size: 10px;
  margin: 5px;
}

.settings-site{
  width: 100%;
  height: auto;
    max-width: 700px;
  margin: 0 auto;
  padding: 5px;
}
}

/* unviere dark
body.dark-mode #style .settings-site-styles{
  border: 1px solid rgba(255,255,255,1);
}

body.dark-mode #style .buttons-styles{
  background: #024a2a;
}

body.dark-mode #style .buttons-styles:hover{
  background: #02311c;
}


body.dark-mode #style .color-dot {
  border: 1px solid rgba(255,255,255,1);
}



body.dark-mode .color-dot::after {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

body.dark-mode #container{
  border: 1px solid rgba(255,255,255,1);
}
body.dark-mode .header1{
  color: white;
}


body.dark-mode .title h1{
  background: #1a1a1a; /* Ensure the heading's background is also white */
  
