.sidebar{
  position: fixed;
  left: -700;
  width:250px;
  height: 100%;
  background: #06c46f;
  margin-top: 100px;
  z-index: 900;
  display: flex;
  flex-direction: column;
  transition: all .5s ease;
}

.sidebar-scroll{
  width:250px;
  height: 100%;
  max-height: 100%;
  background: #06c46f;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: all .5s ease;
  overflow-y: auto;
}

.sidebar .sidebar-header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #0328ff;
  user-select: none;
  border-bottom: 1px solid rgba(255,255,255,1);
}
.sidebar .navigate {
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  background: transparent;
  font-weight: 600;
  padding: 5px 5px;
  border: none;
  
  
}

.sidebar .navigate:hover {
  
  border-bottom: 2px solid #0328ff;
  
}

.sidebar .tabs-navigation {
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: black;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  background: transparent;
  font-weight: 600;
  padding: 5px 5px;
  border: none;
  
  
}

.sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid #0328ff;
  
}

.sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid #0328ff;
  
}

.sidebar h1{
  font-size: 22px;
  background: #0328ff;
  color: white;
  border-top: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
}

#check {
  display: none;
}

.sidebar-toggle #btn,sidebar-toggle #cancel{
  position: fixed;
  cursor: pointer;
  margin-top: 100px;
}

.sidebar-toggle #btn{
  left: 40px;
  top:25px;
  font-size: 30px;
  background: #06c46f;
  color: black;
  padding: 6px 6px;
  border-radius: 50px;
  z-index: 800;
  transition: all .5s;
  opacity: 100;
  
}

.sidebar-toggle #cancel{
  left: -395px;
  top: 17px;
  font-size: 20px;
  background: #06c46f;
  color: black;
  padding: 6px 6px;
  border-radius: 50px;
  z-index: 990;
  margin-top: 100px;
  position: fixed;
  transition: all .5s ease;
  
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ .sidebar-toggle #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ .sidebar-toggle #cancel{
  left: 195px;
}

#check:checked ~ section{
  margin-left: 250px;
  
}


@media (max-width: 700px){
  .sidebar{
  left: -700;
  width:200px;
  height: 100%;
  margin-top: 100px;
}

.sidebar-scroll{
  width:200px;
  height: 100%;
  max-height: 100%;
  margin-top: 22px;
}

.sidebar .sidebar-header{
  font-size: 15px;
  line-height: 40px;
}
.sidebar .navigate {
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 15px;
  padding-left: 40px;
  font-weight: 600;
  padding: 5px 5px;
  
  
}

.sidebar .navigate:hover {
  
  border-bottom: 2px solid #0328ff;
  
  
}

.sidebar .tabs-navigation {
  height: 100%;
  width: 100%;
  line-height: 40px;
  font-size: 15px;
  padding-left: 40px;
  font-weight: 600;
  padding: 5px 5px;
  
  
}

.sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid #0328ff;
  
  
}

.sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid #0328ff;
  
  
}

body.dark-mode .sidebar .navigate:hover {
  
  border-bottom: 2px solid #03c8ff;
  
  
}

body.dark-mode .sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid #03c8ff;
  
  
}

body.dark-mode .sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid #03c8ff;
  
  
}

.sidebar h1{
  font-size: 20px;

}

.sidebar-toggle #btn,sidebar-toggle #cancel{
  margin-top: 100px;
}

.sidebar-toggle #btn{
  left: 10px;
  top:25px;
  font-size: 30px;
  padding: 6px 6px;
  border-radius: 50px;
  
}

.sidebar-toggle #cancel{
  left: -395px;
  top: 7px;
  font-size: 10px;
  padding: 6px 6px;
  border-radius: 50px;
  margin-top: 100px;
  
}

#check:checked ~ .sidebar{
  left: 0;
}

#check:checked ~ .sidebar-toggle #btn{
  left: 250px;
}

#check:checked ~ .sidebar-toggle #cancel{
  left: 155px;
}

#check:checked ~ section{
  margin-left: 200px;
  
}

}

/* unviere dark mode*/
body.dark-mode .sidebar{
  background: #024a2a;
}

body.dark-mode .sidebar-scroll{
  background: #024a2a;
}

body.dark-mode .sidebar .sidebar-header{
  
  color: black;
  background: #03c8ff;
  border-bottom: 1px solid rgba(0,0,0,1);
}
body.dark-mode .sidebar .navigate {
  color: white;
  
}

body.dark-mode .sidebar .navigate:hover {
  
  border-bottom: 2px solid  #03c8ff;
  
  
}

body.dark-mode .sidebar .tabs-navigation {
  color: white;
  
}

body.dark-mode .sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid  #03c8ff;
  
  
}

body.dark-mode .sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid  #03c8ff;
  
  
}

body.dark-mode .sidebar h1{
  background: #03c8ff;
  color: black;
  border-top: 1px solid rgba(0,0,0,1);
  border-bottom: 1px solid rgba(0,0,0,1);
}





body.dark-mode .sidebar-toggle #btn{
  
  background: #024a2a;
  color: white;
  
}

body.dark-mode .sidebar-toggle #cancel{
  
  background: #024a2a;
  color: white;
  
}

/* unviere light mode*/
body.light-mode .sidebar{
  background: #06c46f;
}

body.light-mode .sidebar-scroll{
  background: #06c46f;
}

body.light-mode .sidebar .sidebar-header{
  
  color: white;
  background: #0328ff;
  border-bottom: 1px solid rgba(255,255,255,1);
}
body.light-mode .sidebar .navigate {
  color: black;
  
}

body.light-mode .sidebar .navigate:hover {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.light-mode .sidebar .tabs-navigation {
  color: black;
  
}

body.light-mode .sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.light-mode .sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.light-mode .sidebar h1{
  background: #0328ff;
  color: white;
  border-top: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
}





body.light-mode .sidebar-toggle #btn{
  
  background: #06c46f;
  color: black;
  
}

body.light-mode .sidebar-toggle #cancel{
  
  background: #06c46f;
  color: black;
  
}

/* modern light mode*/
body.modern-light .sidebar{
  background: lightgray;
}

body.modern-light .sidebar-scroll{
  background: lightgray;
}

body.modern-light .sidebar .sidebar-header{
  
  color: black;
  background: darkgray;
  border-bottom: 1px solid rgba(255,255,255,1);
}
body.modern-light .sidebar .navigate {
  color: black;
  
}

body.modern-light .sidebar .navigate:hover {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.modern-light .sidebar .tabs-navigation {
  color: black;
  
}

body.modern-light .sidebar .tabs-navigation:hover {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.modern-light .sidebar .tabs-navigation.active {
  
  border-bottom: 2px solid  #0328ff;
  
  
}

body.modern-light .sidebar h1{
  background: darkgray;
  color: black;
  border-top: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(255,255,255,1);
}





body.light-mode .sidebar-toggle #btn{
  
  background: #06c46f;
  color: black;
  
}

body.light-mode .sidebar-toggle #cancel{
  
  background: #06c46f;
  color: black;
  
}