* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}


body {
 /* background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);*/
 background: white;
 margin-top:0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.hero {
  height: 100vh!important;
  width: 100%;
  top:0px!important;
  max-width: 2000px;
  margin: 0 auto;
  background-image: url(../Img/Stars.png);
  background-size: cover;
  background-position: center;
  z-index: 10;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px;
}

.hero-text {
  padding: 3px;
	/*display: flex;
  flex-direction: column;
  align-items: center;*/
  text-align: center;
}

.hero-text h4 {
  font-size: 25px;
  font-weight: 400;
  color: whitesmoke;
  
}

.hero-text p {
  color: whitesmoke;
  font-size: 27px;
  line-height: 1.9;
  
}

.hero-text h1 {
  font-size: 40px;
  line-height: 1;
  color: whitesmoke;
  
}

.hero-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.hero-img img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: contain; /* Adjust to 'cover' if you want the image to fill the container */
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Space between buttons */
  
}

.hero-buttons a {
  display: inline-block;
  
  padding: 12px 12px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  
  text-transform: uppercase;
  transition: all .55s ease;
  text-decoration: none;
}

.hero-buttons a:hover {
  
  
  transform: translateX(8px);
}



.hero-buttons .ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

/**/

.masages{
  height: auto;
  width: 100%;
	max-width: 2000px;
	margin: 0 auto;
  /*background-image: url(../Img/Stars.png);*/
  background-color: white;
  background-size: cover;
	background-position: center;
	z-index: 1;
  position: relative;
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 0px;
	box-shadow: 1px 1px 9px gray;
}

.title{
  padding-left: 20px;
  margin-top: -15px; /* Adjust the value to control how much the title overlaps */
  position: relative;
  z-index: 1;
  background: transparent; /* Ensure background is white so it cuts through the border */
  width: fit-content; /* Adjust as needed */
}


.title h1{
  font-size: 20px;
  color: black;
  margin: 0; /* Remove any default margin */
  padding: 0 10px; /* Adjust padding as needed */
  background: white; /* Ensure the heading's background is also white */
}

.dissmiss{
  padding-right: 20px;
  margin-top: -15px; /* Adjust the value to control how much the title overlaps */
  position: absolute;
  z-index: 1;
  background: transparent; /* Ensure background is white so it cuts through the border */
  width: fit-content; /* Adjust as needed */
  right: -27;
  top: 10;
  color: red;
  background: white;
}

.tip{
  border: 2px solid #06c46f;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 98%;
  height: auto;
  position: relative;
  padding: 5px;
  right: 0;
  left: -2;
}

.content-masages{
  padding: 10px;
  margin: 10px;
 
}

.content-masages p{
  font-size: 20px;
  color: black;
}

.content-masages a{
  font-size: 20px;
  
}
/*parallel section*/



.game-stats{
  
  margin-left: 8px!important;
  margin-right: 8px!important;
  
}

.sec-header-right {

  text-decoration: underline;
}

.sec-header {
  display: flex;
}

.all-games-b {
  position: absolute;
  right: 2px;
  display: flex;
  flex-direction: row;
  align-items: right;
}

.all-games-arrow {
  
  color: #20B2AA;
  text-decoration: none!important;
  
}

.reload-game {
  color: #20B2AA;
  text-decoration: none!important;
}

/* groups*/

.groups{
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  background: white;
  box-shadow: 1px 1px 9px gray;
}

.groups-partners{
  background: transparent;
}

.groups-partners h1{
  color: black;
  font-size: 50px;
  
}
.groups-partners p{
  color: black;
  font-size: 30px;
}

@keyframes slide{
  from{
    transform: translateX(0);
  }
  
  to{
    transform: translateX(-400%);
  }
}

.partners-container{
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  width: 100%;
  position: relative;
  display: inline-block;
}
.partners-container:before,
.partners-container:after {
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}

.partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), white);
}

.partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

.partner-holder{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.partners-inf-scrolling{
  display: flex;
  animation: 50s slide infinite linear;
  width: 100%;
  
}

.partners-inf-scrolling:hover{
  animation-play-state: paused;
  
}

.partners-inf-scrolling a{
  background-color: whitesmoke;
  height: 200px;
  width: 500px;
  color: black;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 1px 1px 9px gray;
  
}

.partners-inf-scrolling a:hover{
  background-color: #c3c3c3;
  height: 200px;
  width: 500px;
  color: black;
  text-decoration: none;
  border-radius: 5px;

  
}

.partners-inf-scrolling img{
  height:auto;
  width:200px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
}

.partner-holder{
  display: flex;
  flex-direction: row;
}

.partner-info {
  height: auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  /*padding: 10px*/
}

.partner-info h1 {
  font-size: 25px;
  color: #20B2AA;
}

.partner-info p{
  font-size: 20px;
  color: black;
  white-space: normal;
  width: 300px;
  overflow: hidden;
  max-height: 90px;
text-overflow: ellipsis;
}

.stats-group {
  display: flex;
  flex-direction: row;
}

.stats-group h1{
  font-size:20px;
  max-height: 10px;
  width: 300px;
  white-space: normal;
  margin: 0 2 2px;
  color: #06c46f;
}

/* games

.game-jams{
  display: inline-block;
  flex-direction: column;
  overflow: hidden;
  padding: 10px 0;
  width: 100%;
  background: white;
}

.section {
  padding: 0.19%;
  width: 100%;
  position: absolute;
  top: 30%;
  transform: translateY(-10%);
  text-align: center;
  transition: all .5s;
  background: transparent;
}

hr{
  width: 100%;
  margin-bottom: 10px;
}


.icons {
	position: absolute;
	top: 50%;
	padding: 0 9%;
	transform: translateY(-50%);
}

.icons i {
	display: block;
	margin: 26px 0;
	font-size: 24px;
	color: #96c46f;
	transition: all .50s ease;
	text-decoration: none;
}

.icons i:hover{
	color: #0328ff;
	transform: translateY(-5%);
}

.scroll-down{
	position: absolute;
	bottom: 6%;
	right: 9%;
}

.scroll-down i{
	display: block;
	padding: 12px;
	font-size: 25px;
	color: white;
	background: #06c46f;
	border-radius: 30px;
	transition: all .50s ease;
}

.scroll-down i:hover{
	transform: translateY(-5%)
}*/

	@media (max-width: 1535px){
	/*	header{
			padding: 15px 3%;
			transition: .2s;
		}

		.icons{
			padding: 0 3%;
			transition: .2s;
		}

		.scroll-down{
			right: 3%;
			transition: .2s;
		}
		#menu-icon{
		display: none;
		}*/
	}

@media (max-width: 1460px){
	section{
		padding: 0 12%;
		transition: all .5s;
		
	}
/*	#menu-icon{
		display: none;
	}*/
}

@media (max-width: 1340px){
	.hero-img img{
		width: 100%;
		height: auto;
	}

	.hero-text h1{
		font-size: 20px;
		margin: 0 0 12px;
	}

	.hero-text h4{
	  font-size: 15;
		margin-bottom: 10px;
	}
	
	.hero-text p{
	  font-size: 10px;
	  margin-bottom: 10px;
	}
/*	#menu-icon{
		display: none;
	}*/
	
	.parallel-stats h1{
  font-size: 10px;
  margin: 0 5 5px;
	}

}
@media (max-width: 1195px){
	section{
		padding: 0 3%;
		transition: all .5s;
	}

	.hero-text{
		padding-top: 50px;
		
	}

	.hero-img{
		text-align: center;
	}
	.hero-img img{
		width: 560px;
		height: auto;
	}

	.hero{
		height: 100%
	/*	gap: 1rem;*/
	/*	grid-template-columns: 1fr;*/
	}

	.icons {
		display: none;
	}

	.scroll-down{
		display: none;
	}

/*#menu-icon{
		display: none;
	}*/
	

	
}

@media (max-width: 700px){

	.hero{
	  
		flex-direction: column;
	}
	
/*	#menu-icon{
		display: block;
	}
	.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		background: #06c46f;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}

	.navlist a{
		display: block;
		margin: 30px 0;
		margin-left: 0;
		background: transparent;
	}

	.navlist-open{
		right: 0;
	}*/
	.hero-text h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.hero-text p {
  font-size: 7px;
  line-height: 1.9;
  margin-bottom: 7px;
}

.hero-text h1 {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 7px;
		}
		

.groups-partners h1{
  font-size: 25px;
  
}
.groups-partners p{
  font-size: 15px;
}

.partners-inf-scrolling a {
  height: 100px;
  width: 300px;
  border-radius: 10px;


}

.partners-inf-scrolling a:hover {
  border-radius: 5px;
  height: 100px;
  width: 300px;

}

.partners-inf-scrolling img {
  height: auto;
  width: 100px;

}

.partner-info {
  height: auto;
  width: 200px;
}

.partner-info h1 {
  font-size: 15;
}

.partner-info p {
  font-size: 10;
  width: 200px;
  max-height: 47px;
}



.stats-group h1 {
  font-size: 10px;
  max-height: 10px;
  width: 200px;
  white-space: normal;
  margin: 0 2 2px;
}
.game-jams {
  padding: 10px 0;
  width: 100%;
}


}

@media (max-width: 680px){

	.hero{
		flex-direction: column;
	}
.hero-img img{
		width: 100%;
		height: auto;
}

/*#menu-icon{
		display: block;
		}
		

.navlist{
		position: absolute;
		top: 100%;
		right: -100%;
		width: 300px;
		background: #06c46f;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 50px 20px;
		transition: all .55s ease;
	}

	.navlist a{
		display: block;
		margin: 30px 0;
		margin-left: 0;
		background: transparent;
	}

	.navlist-open{
		right: 0;
		}*/
		.hero-text h4 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 7px;
}

.hero-text p {
  font-size: 7px;
  line-height: 1.9;
  margin-bottom: 7px;
}

.hero-text h1 {
  font-size: 20px;
  line-height: 1;
  margin: 0 0 7px;
}

/*/.parallel-stats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  text-align: center;
}

.parallel-stats > * {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  justify-content: center; 
}

.parallel-stats > :last-child {
  margin-left: 80px; 
  text-align: left;  
}*/


.groups-partners h1{
  font-size: 25px;
  
}
.groups-partners p{
  font-size: 15px;
}

.partners-inf-scrolling a{
  height: 100px;
  width: 300px;
  border-radius: 10px;

  
}

.partners-inf-scrolling a:hover{
  border-radius: 5px;
  height: 100px;
  width: 300px;
  
}

.partners-inf-scrolling img{
  height:auto ;
  width: 100px;
  
}

.partner-info {
  height: auto;
  width: 200px;
}

.partner-info h1 {
  font-size: 15;
}

.partner-info p{
  font-size: 10;
  width: 200px;
  max-height: 47px;
}



.stats-group h1{
  font-size:10px;
  max-height: 10px;
  width: 200px;
  white-space: normal;
  margin: 0 2 2px;
}



.partners-container:before,
.partners-container:after {
  width: 50px;
}

}
		
	/*	unviere dark mode properties*/
	
	
		  body.dark-mode {
  background: #121212;
}


body.dark-mode .masages{
  box-shadow: 1px 1px 9px black;
  background-color: #121212;
}




body.dark-mode .title h1{
  color: whitesmoke;
  background: #121212; 
}

body.dark-mode .dissmiss{
  background: #121212;
}

body.dark-mode .tip{
  border: 1px solid #024a2a;
}


body.dark-mode .content-masages p{
  font-size: 20px;
  color: whitesmoke;
}

body.dark-mode .content-masages a{
  font-size: 20px;
  
}

body.dark-mode .content-masages h1{
  font-size: 20px;
  color: whitesmoke;
}

body.dark-mode .all-games-arrow {
  
  color: #f0b400;
  
  
}

body.dark-mode .reload-game {
  color: #f0b400;
  
}
body.dark-mode .game-top-desc-etc{
  color: whitesmoke;
}


	body.dark-mode .groups{
	  background: #121212;
	  box-shadow: 1px 1px 9px black;
	}
	
	body.dark-mode .groups-partners{
	  background: #121212;
	}
body.dark-mode .groups-partners h1{
  color: whitesmoke;
  
}
body.dark-mode .groups-partners p{
  color: whitesmoke;
}

body.dark-mode .partners-container{
  background: #121212;
}
	
body.dark-mode .partners-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #121212);
}

body.dark-mode .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), #121212);
}
	
body.dark-mode .partners-inf-scrolling a{
  background-color: #024a2a;
  color: black;
  box-shadow: 1px 1px 9px black;
}

body.dark-mode .partners-inf-scrolling a:hover{
  background-color: #026c40;
  color: black;
  
}



body.dark-mode .partner-info h1 {
  color: #f0b400;
}

body.dark-mode .partner-info p{
  color: whitesmoke;
}



body.dark-mode .stats-group h1{
  color: #03c8ff;
}

	/*	unviere light mode */
	
	
		  body.light-mode {
  background: white;
}
		
		





body.light-mode .title h1{
  color: black;
  background: white; 
}

body.light-mode .dissmiss{
  background: white;
}

body.light-mode .tip{
  border: 1px solid #06c46f;
}


body.light-mode .content-masages p{
  font-size: 20px;
  color: black;
}

body.light-mode .content-masages a{
  font-size: 20px;
}

body.light-mode .all-games-arrow {
  
  color: #f0b400;
  
  
}

body.light-mode .reload-game {
  color: #f0b400;
  
}
	
	body.light-mode .groups{
	  background: white;
	}
	
body.light-mode .groups-partners h1{
  color: black;
  
}
body.light-mode .groups-partners p{
  color: black;
}
	
body.light-mode .partners-container {
  
  background:  white;
} 
body.light-mode .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}

body.light-mode .partners-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), white);
}
	
body.light-mode .partners-inf-scrolling a{
  background-color: #06c46f;
  color: black;
}

body.light-mode .partners-inf-scrolling a:hover{
  background-color: #049c59;
  color: black;
  
}



body.light-mode .partner-info h1 {
  color: #f0b400;
}

body.light-mode .partner-info p{
  color: black;
}



body.light-mode .stats-group h1{
  color: #0606c4;
}

