* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body.light-mode #menuhr{

  color: #0606c4;
  border-style: solid
}

body.light-mode header {
  background: #06c46f;
  box-shadow: 1px 1px 9px grey;
}

body.light-mode body {
 /* background: linear-gradient(245.95deg, #0328ff 0%, #06c46f 28.53%, #57d8ff 75.25%);*/
 background: #ffffff;
}



body.light-mode .logo {
  color: #0606c4;
    
}

body.light-mode #game-title-top {
  color: black;
}

body.light-mode #game-developer-top {
  color: black;
}




body.light-mode .navlist a {
  background: transparent; /* Background for links */
  color: black; /* Text color */
  
  text-decoration: none; /* Removes underline */
  
}

body.light-mode .navlist a::after {
  content: ''; /* Empty content for the pseudo-element */
  background-color: #1B1F3B; /* Color of the underline */
  border-radius: 5px; /* Rounded corners */
  
}



 
body.light-mode #menu-icon {
  color: #1B1F3B;
  
}

body.light-mode .logos{
  text-decoration: none;
  color: #1B1F3B;
  
}



body.light-mode .community-drop{
  background: #06c46f;
  top:35px;
  border-left: 1px solid #049c59;
  border-right: 1px solid #049c59;
  border-bottom: 1px solid #049c59;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
}



body.light-mode .more-drop{
  background: #06c46f;
  top:35px;
  border-left: 1px solid #049c59;
  border-right: 1px solid #049c59;
  border-bottom: 1px solid #049c59;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: none;
}


body.light-mode .menu {
  border-right-style: solid;
  border-right-color: #0606c4;
  border-right-width: 2px;
  
  background-color: #06c46f;
  box-shadow: none;
  
}
body.light-mode .sidebar-title {
  background-color: #0606c4;
  
  
}

body.light-mode #side-menu-title {
  color: white; 
  
  
}

body.light-mode #side-menu-desc {
  color: black;
}

body.light-mode .sidebar-toggle #pinned, .sidebar-toggle #unpinned{
  font-size: 17px;
  border-radius: 50px;
  
  
}

body.light-mode .sidebar-toggle #pinned {
  color: #06c46f;
}

body.light-mode .sidebar-toggle #unpinned {
  color: white;
}





body.light-mode .sidebar-header{
    
  color: black;
}
	
body.light-mode .navigate {
  background: transparent; 
  color: black; 
  
  
  text-decoration: none; 
  
}

body.light-mode .navigate::after {
  content: ''; 
  
  background-color:  #1B1F3B; 
  border-radius: 5px; 
}



body.light-mode .tabs-navigation {
  
  color: black;
  text-decoration: none;
  background: transparent;
  
  
  
  
}

body.light-mode .tabs-navigation::after {
  
  content: ''; 
  
  background-color:  #1B1F3B; 
  border-radius: 5px; 
  
}

body.light-mode .tabs-navigation.active::after {
  
  content: ''; 
  
  background-color:  #1B1F3B; 
  border-radius: 5px; 
  
}


	


@media (max-width: 700px){
/* General mobile navlist styles */
body.light-mode .mobile-navlist {
  
  background: transparent;
  background-color: #06c46f;
  
  
  
}


body.light-mode #navh,
body.light-mode #navb {
  background: transparent; 
  color: black; 
  
  text-decoration: none; 
  

}


body.light-mode #navh::after,
body.light-mode #navb::after {
  content: '';

  background-color:  #1B1F3B;
  border-radius: 5px;
  
}

/* Community Dropdown styles */
body.light-mode .mob-community-drop {
  background: #f9f9f9; /* Light background for dropdown for better visibility */
  border-radius: 4px; /* Rounded corners for dropdown items */
}

/* More Dropdown styles */
body.light-mode .mob-more-drop {
  background: #f9f9f9; /* Light background for dropdown for better visibility */
  border-radius: 4px; /* Rounded corners for dropdown items */
}

}